@import url(../font/nanumsquare.css);

body {
	/* transform: skew(0.1deg); */
	font-family: 'NanumSquare', sans-serif;
}

input:not([type="file"]), textarea {
	transform: skewY(-0.1deg);
	text-indent: 10px;
	padding-left: 0px !important;
	font-family: 'NanumSquare', sans-serif;
	outline: 1px solid #d9d9d9;
}
input[type="file"], span, a, button, select, option, p, label {
	transform: skewX(0.1deg);
	font-family: 'NanumSquare', sans-serif;
}