.container
	width: 100%
	min-width: $contentMaxWidth
	height: $contentHeight
	background: $contentBackground

.titleBar
	font-size: 24px
	font-weight: 800
	color: white
	background: transparent linear-gradient(180deg, #0061D1 0%, #23A3DC 100%) 0% 0% no-repeat padding-box;

.titleBar>span
	width: $contentMaxWidth
	padding: 29px 0 23px

.container>div:nth-child(2)
	margin-top: 35px